@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<h3>Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">Click aqui para voltar.</a></h3>
