@model LoginModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>  
    <link rel="stylesheet" href="~/css/TelaLogin.css" asp-append-version="true" />
</head>

<body>

<h1 class="text-center  TitleLogin">Olá, Faça seu login</h1>

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>

}

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>

    }

<form asp-controller="Login" asp-action="Entrar" method="post" class="form">
    <div class="form2">

    <div class="mb-3">
            <label for="login" class="form-label NameLogin">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="login">
        @Html.ValidationMessageFor(x => x.Login)
        <div id="emailHelp" class="form-text AvisoLogin">Não compartilhar esse login com ninguém.</div>
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label NameSenha">Senha</label>
        <input type="password" asp-for="senha" class="form-control" id="senha">
        @Html.ValidationMessageFor(x => x.senha)
    </div>
    <br />

    <div class="mb-4 text-sm mx-auto">
                <p class="EsqueceuSenha">Esqueceu sua senha?
                    <a asp-action="RedefinirSenha" asp-controller="Login" class="text-primary text-gradiente font-weight-bold">Redefinir minha senha</a>
                </p>
        
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary w-100 BotaoLogin">Entrar</button>
    </div>
    </div>
</form>
</body>
</html>

